/*
essential styles:
these make the slideshow work
*/
* {
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(36, 12, 70);
}

.logo-title {
    border: 1px solid red;
    padding: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    background-color: white;
    color:rgb(36, 12, 70);
}
.carousel {
    user-select: none;
    position: relative;
    overflow: hidden;
} 

.slides {
    position: relative;
    height: 500px;
    width: 100%;
    padding: 0px;
    list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  z-index: -999;
  transition: opacity 0.5s; 
  display: flex;
  justify-content: center;
} 

.slide-img {
  margin: 0 auto;
  width: auto;
  height: 100%;
}

.slide.active {
  opacity: 1;
  z-index: 0;
}

.indicators,
.controls {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.indicator,
.control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    border-radius: 50px;
    background-color: rgb(138, 123, 123);
    transition: 0.3s;
}

.indicator-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.control:hover {
    background-color: blue;
}

.indicator.active {
    background-color: blue;
}

.footer {
    min-height: 100px;
    padding: 20px 0;
  }
  .footer::before {
    position: absolute;
    border-top: 2px solid black;
    content: "";
    width: 100%;
  }
  .footer__contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
  }
  .footer__icons {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__icons a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .footer__icons a:hover, .footer__icons a:focus {
    color: brown;
  }

  @media (max-width: 768px) {
    .slides {
        height: 300px;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        transition: transform 0.5s ease-in-out;
      }
      .indicators,
      .controls {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .indicator,
      .control {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.25em;
        border: 1px solid black;
        width: 40px;
        height: 40px;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
        border-radius: 50px;
        background-color: rgb(138, 123, 123);
        transition: 0.3s;
      }
      .indicator-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .control:hover {
        background-color: blue;
      }
      .indicator.active {
        background-color: blue;
      }
      .slide {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transition: opacity 1s;
        display: flex;
        justify-content: center;
      }
      .active {
        opacity: 1;
        z-index: 2;
      }
      .footer {
        min-height: 100px;
        padding: 20px 0;
      }
      .footer::before {
        position: absolute;
        border-top: 2px solid black;
        content: "";
        width: 100%;
      }
      .footer__contacts {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-top: 10px;
      }
      .footer__icons {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
      .footer__icons a {
        margin: 0 10px;
      }
      .footer__icons a:hover {
        color:black;
      }
      .footer__icons i {
        font-size: 1.5rem;
        color: black;
      } 
    
}